/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


td.Popup_Client_Help_VertSeparator {
  width: 9px;
  background: url(VertSeparator_bg.png) repeat-y center center;
}

table.Popup_Client_Help_SubMenu {
  border: 0px none;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

table.Popup_Client_Help_SubClient {
  border: 0px none;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-collapse: collapse;
}

.TitleCell {
  border: 0px none;
  vertical-align: top;
  text-align: right;
  text-indent:3px;
  border-collapse: collapse;
  padding-top:5px;
  padding-right:4px;
}

td.Popup_Client_Help_SubClient_Links {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  text-indent: 0px;
  border-collapse: collapse;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 4px;
}

.Popup_Client_Help_Icon_edit {
  width: 16px;
  height: 16px;
  background: url(iconEdit.png) no-repeat center center;
}

.Popup_Client_Help_Icon_top {
  width: 16px;
  height: 16px;
  background: url(iconTop.png) no-repeat center center;
}

a.Popup_Client_Help_Icon_LabelLink {
}

a.Popup_Client_Help_Icon_LabelLink_focus {
  background-color: #C8E9F9 !important;
  border-style: solid;
  border-width: 2px;
  border-color: #2985BA;
  outline: none;
}

a.Popup_Client_Help_LabelLink {
  padding-left: 6px;
  color: #2985BA;
  text-decoration: none;
}

a.Popup_Client_Help_LabelLink:visited {
  color: #2985BA;
  text-decoration: none;
}

a.Popup_Client_Help_LabelLink:hover {
  text-decoration: underline;
}

a.Popup_Client_Help_LabelLink_focus {
  padding: 0px 4px 0px 4px;
  background-color: #C8E9F9 !important;
  color: #2985BA;
  border-style: solid;
  border-width: 2px;
  border-color: #2985BA;
  outline: none;
}