.dojoHtmlCheckbox {
	border: 0px;
	width: 16px;
	height: 16px;
	margin: 2px;
	vertical-align: middle;
}

.dojoHtmlCheckboxOn {
	background: url(check.png) 0px 0px;
}
.dojoHtmlCheckboxOff {
	background: url(check.png) -16px 0px;
}
.dojoHtmlCheckboxDisabledOn {
	background: url(check.png) -32px 0px;
}
.dojoHtmlCheckboxDisabledOff {
	background: url(check.png) -48px 0px;
}
.dojoHtmlCheckboxOnHover {
	background: url(check.png) -64px 0px;
}
.dojoHtmlCheckboxOffHover {
	background: url(check.png) -80px 0px;
}



.Checkbox_NOT_focused, .Radio_NOT_focused {


}

.Checkbox_container_NOT_focused, .Radio_container_NOT_focused {
  padding: 0px;
  margin: 0px;
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 2px;
  border-color: transparent;

}

.Checkbox_focused, .Radio_focused {

  border:2px solid #4D98CA;
  
  outline-style:solid;
  outline-width: 2px;
  outline-color: #4D98CA;

}

.Checkbox_container_focused, .Radio_container_focused {

  border-style: solid;
  border-width: 2px;
  border-color: transparent;

}