/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


table.Main_ContentPane_LeftTabsBar {
  height: 100%;
  width: 25px;
  background: url(../LeftTabsBar/background.png) repeat center center;
}

.Main_ContentPane_NavBar {
  border: 0px none;
  text-indent: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  height: 34px;
  width: 100%;
  border-collapse: collapse;
  background-color: #FFFFFF;
}

.Main_ContentPane_ToolBar {
  border: 0px none;
  text-indent: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 34px;
  border-collapse: collapse;
}

.Main_ContentPane_TabPane {
  border: 0px none;
  text-indent: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}

.Main_ContentPane_Right {
  border: 0px none;
  text-indent: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 8px;
  border-collapse: collapse;
  background-color: #505050;
}

.Main_ContentPane_Left {
  border: 0px none;
  text-indent: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  height: 100%;
  width: 8px;
  border-collapse: collapse;
  background-color: #505050;
}

.Main_ContentPane_Bottom {
  border: 0px none;
  text-indent: 0px;
  margin: 0px;
  text-align: center;
  vertical-align: middle;
  height: 8px;
  width: 100%;
  border-collapse: collapse;
  background-color: #505050;
}

.Main_ContentPane_Client {
  position: relative;
  text-indent: 0px;
  margin: 0px;
  width: 100%;
  border-collapse: collapse;

  border-top: 0px solid;
  border-bottom: 1px solid;
  border-left: 1px solid;
  border-right: 1px solid;
  background-color: #E8E8E8;
}
