/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


.Main_NavBar_bg {
  height: 34px;
  background: url(backgroundCenter.png) repeat center center;
}

.Main_NavBar_bg_left {
  width: 8px;
  height: 34px;
  background: url(backgroundLeft.png) no-repeat center center;
}

.Main_NavBar_bg_right {
  width: 8px;
  height: 34px;
  background: url(backgroundRight.png) repeat center center;
}

.Main_NavBar_bg_logo_left {
  width: 10px;
  height: 34px;
  background: url(logoLeft.png) no-repeat center right;
}

.Main_NavBar_bg_logo_right {
  width: 10px;
  height: 34px;
  background: url(logoRight.png) no-repeat center left;
}

.Main_NavBar_bg_logo {
  width: 7px;
  height: 34px;
  background-color: #FFFFFF;
}

.Main_NavBar_logo {
  cursor: pointer;
  width: 122px;
  height: 34px;
  background: url(../../../../images/PoweredByOpenbravo.png) no-repeat center center;
}

.Main_NavBar_separator_cell {
  width: 10px;
}

.Main_NavBar_separator_cell_small {
  width: 5px;
}

/* Left Buttons definition for Main_NavBar */


.Main_NavBar_LeftButton_cell {
  width: 1px;
  vertical-align:top;
}

a.Main_NavBar_LeftButton {
  display:block;
  margin-left:0px;
  margin-right:0px;
  width:24px;
  height:30px;
  border:0px;
  vertical-align:top;
  -moz-outline-style: none;

}

a.Main_NavBar_LeftButton:visited { 
}

a.Main_NavBar_LeftButton:hover {
}

a.Main_NavBar_LeftButton:active { 
  -moz-outline-style: none;
}


/* Left Icons definition for Main_NavBar */

.Main_NavBar_LeftButton_Icon {
  border: 0px none;
  width: 24px;
  height: 30px;
  margin: 0px;
  vertical-align:top;
}

.Main_NavBar_LeftButton_Icon_back {
  background: url(iconBack.normal.png) no-repeat center center;
}

a.Main_NavBar_LeftButton:hover .Main_NavBar_LeftButton_Icon_back {
  background: url(iconBack.rollover.png) no-repeat center center;
}

a.Main_NavBar_LeftButton:active .Main_NavBar_LeftButton_Icon_back {
  background: url(iconBack.pressed.png) no-repeat center center;
}

.Main_NavBar_LeftButton_Icon_refresh {
  background: url(iconRefresh.normal.png) no-repeat center center;
}

a.Main_NavBar_LeftButton:hover .Main_NavBar_LeftButton_Icon_refresh {
  background: url(iconRefresh.rollover.png) no-repeat center center;
}

a.Main_NavBar_LeftButton:active .Main_NavBar_LeftButton_Icon_refresh {
  background: url(iconRefresh.pressed.png) no-repeat center center;
}


/* Right Buttons definition for Main_NavBar */


.Main_NavBar_RightButton_cell {
  width: 1px;
  vertical-align:top;
}

a.Main_NavBar_RightButton {
  display:block;
  margin-left:0px;
  margin-right:0px;
  width:24px;
  height:30px;
  border:0px;
  vertical-align:top;
  background: url(buttonRight.normal.png) no-repeat center center;
  -moz-outline-style: none;

}

a.Main_NavBar_RightButton:visited { 
}

a.Main_NavBar_RightButton:hover {
  background: url(buttonRight.rollover.png) no-repeat center center;
}

a.Main_NavBar_RightButton:active { 
  background: url(buttonRight.pressed.png) no-repeat center center;
  -moz-outline-style: none;
}


/* Right Icons definition for Main_NavBar */

.Main_NavBar_RightButton_Icon {
  border: 0px none;
  width: 24px;
  height: 30px;
  margin: 0px;
  vertical-align:top;
}

.Main_NavBar_RightButton_Icon_about {
  background: url(iconAbout.normal.png) no-repeat center center;
}

a.Main_NavBar_RightButton:hover .Main_NavBar_RightButton_Icon_about {
  background: url(iconAbout.rollover.png) no-repeat center center;
}

a.Main_NavBar_RightButton:active .Main_NavBar_RightButton_Icon_about {
  background: url(iconAbout.pressed.png) no-repeat center center;
}

.Main_NavBar_RightButton_Icon_help {
  background: url(iconHelp.normal.png) no-repeat center center;
}

a.Main_NavBar_RightButton:hover .Main_NavBar_RightButton_Icon_help {
  background: url(iconHelp.rollover.png) no-repeat center center;
}

a.Main_NavBar_RightButton:active .Main_NavBar_RightButton_Icon_help {
  background: url(iconHelp.pressed.png) no-repeat center center;
}





.Main_NavBar_Breadcrumb {
  color: #EDEDED;
  font-size: 8pt;
  font-weight: bold;
}

.Main_NavBar_Breadcrumb_cell {
  text-align: left;
  padding: 0px 5px 0px 15px;
}

.Main_NavBar_Breadcrumb A {
  FONT-SIZE: 8pt; COLOR: navy; TEXT-DECORATION: none
}
.Main_NavBar_Breadcrumb A:hover {
  FONT-SIZE: 8pt; COLOR: navy; TEXT-DECORATION: underline
}
.Main_NavBar_Breadcrumb A.Link {
  FONT-SIZE: 8pt; COLOR: #EDEDED; TEXT-DECORATION: underline
}
.Main_NavBar_Breadcrumb A.Link:hover {
  COLOR: 8pt; TEXT-DECORATION: underline
}
