/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

@import url(../../../../images/Logos.css);

.Menu_NavBar_bg {
  height: 34px;
  background: url(backgroundCenter.png) repeat center center;
}

.Menu_NavBar_bg_left {
  width: 8px;
  height: 34px;
  background: url(backgroundLeft.png) repeat-x center center;
}

.Menu_NavBar_bg_right {
  width: 8px;
  height: 34px;
  background: url(backgroundRight.png) repeat-x center center;
}

.Menu_NavBar_bg_logo_left {
  width: 10px;
  height: 34px;
  background: url(logoLeft.png) no-repeat center right;
}

.Menu_NavBar_bg_logo_right {
  width: 10px;
  height: 34px;
  background: url(logoRight.png) no-repeat center left;
}

.Menu_NavBar_bg_logo {
  width: 7px;
  height: 34px;
  background-color: #FFFFFF;
}
