/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


@import url(./TableEdition/TableEdition.css);
@import url(./MessageBox/MessageBox.css);
@import url(./DataGrid/DataGrid.css);
@import url(./RelationInfo/RelationInfo.css);
@import url(./Image/Image.css);


body {
  margin-top: 0px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  color: #000000;
  background-color: #E8E8E8;
}

#main {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: relative;
}

.Main_Client_TableEdition {
  border: 0px none;
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
  background-color : #E8E8E8;
}
