/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2008 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


.Popup_Wallpaper_Background {
  height: 240px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow:  hidden;
  bottom: 0;
}

.Popup_Wallpaper_Background_Heartbeat {
  background: url(wallpaperHeartbeat_bg.png) repeat;
}

.Popup_Wallpaper_Background_Registration {
  background: url(wallpaperRegistration_bg.png) repeat;
}


.Popup_Wallpaper_Image {
  height: 240px;
  width: 440px; 
}

.Popup_Wallpaper_Image_Heartbeat {
  background: url(wallpaperHeartbeat.png) repeat;
}

.Popup_Wallpaper_Image_Registration {
  background: url(wallpaperRegistration.png) repeat;
}
