/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2008 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


.Image_NotAvailable_small {
  width: 16px;
  height: 16px;
  margin: 0px 0px 0px 0px;
  background: url(imageNotAvailable_small.png) no-repeat center center;
}

.Image_NotAvailable_medium {
  width: 64px;
  height: 64px;
  margin: 0px 0px 0px 0px;
  background: url(imageNotAvailable_medium.png) no-repeat center center;
}

.Image_NotAvailable_large {
  width: 128px;
  height: 128px;
  margin: 0px 0px 0px 0px;
  background: url(imageNotAvailable__large.png) no-repeat center center;
}
