/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

@import url(./ContentPane/ContentPane.css);
@import url(./NavBar/NavBar.css);
@import url(./ToolBar/ToolBar.css);
@import url(./LeftTabsBar/LeftTabsBar.css);
@import url(./Tabs/Tabs.css);
@import url(./Client/Client_Edition.css);
@import url(../Main/Client/DataGrid/DataGrid.css);
@import url(./Bottom/Bottom.css);
@import url(./Status/Status.css);
@import url(../Popup/Calendar/Calendar.css);


* {margin: 0px; padding: 0px;}

body {
  margin-top: 0px;
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: normal;
  COLOR: #000000;
  background-color: #505050;
}

#main {
  height: 100%;
  width: 100%;
  left: 0%;
  top: 0%;
  position: relative;
}
