/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007-2008 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/


.Main_Client_TableEdition {
  border: 0px none;
  margin-top: 1px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 1px;
  background-color : #E8E8E8;
  width: 870px;
  border-collapse: collapse;
}

.Main_Client_TableRelation {
  border: 0px none;
  margin-top: 1px;
  margin-left: 15px;
  margin-right: 10px;
  margin-bottom: 1px;
  background-color : #E8E8E8;
  width: 870px;
  border-collapse: collapse;
}

td.TableEdition_OneCell_width {
  width: 145px;
  vertical-align: top;
}

td.TableEdition_TwoCells_width {
  width: 290px;
  vertical-align: top;
}

td.TableEdition_ThreeCells_width {
  width: 435x;
  vertical-align: top;

}

.TitleCell {
  border: 0px none;
  vertical-align: top;
  text-align: right;
  text-indent:3px;
  border-collapse: collapse;
  padding-top:5px;
  padding-right:4px;
}

.ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-top:3px;
  border-collapse: collapse;
}

.ReadOnly_Text_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  text-indent:3px;
  border-collapse: collapse;
  padding-top:5px;
  padding-right:4px;
}

.Combo_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 3px;
  padding-top:3px;
  padding-bottom:1px;
  border-collapse: collapse;
  height: 25px;
}

.TextBox_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 3px;
  padding-top:3px;
  _padding-top:2px;
  padding-bottom:1px;
  border-collapse: collapse;
  height: 25px;
}

.TextBox_ReadOnly_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 3px;
  padding-top:5px;
  padding-bottom:1px;
  border-collapse: collapse;
  height: 25px;
}

.TextArea_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 3px;
  padding-top:3px;
  padding-bottom:3px;
  border-collapse: collapse;
  height: 25px;
}

.List_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 3px;
  padding-top:3px;
  padding-bottom:3px;
  border-collapse: collapse;
  height: 25px;
}

td.List_Button_ContentCell {
  vertical-align: middle;
}

.Dimension_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 3px;
  padding-top:3px;
  padding-bottom:3px;
  border-collapse: collapse;
  height: 25px;
}

td.DimensionLRArrows_ContentCell {
  border: 0px none;
  vertical-align: middle;
  text-align: -moz-center;
  _text-align: center;
  padding-top:3px;
  padding-bottom:3px;
  border-collapse: collapse;
  height: 25px;
}

td.DimensionUDArrows_ContentCell {
  vertical-align: middle;
}

.FieldButton_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-top:1px;
  border-collapse: collapse;
  height: 25px;
}

.TextBox_btn_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-top:0px;
  border-collapse: collapse;
}

.Radio_Check_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 3px;
  padding-top: 1px;
  _padding-top: 1px;
  border-collapse: collapse;
  height: 25px;
}

.Button_LeftAlign_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: left;
  padding-left: 6px;
  padding-top:3px;
  _padding-top: 1px;
  border-collapse: collapse;
  height: 25px;
}

.Button_CenterAlign_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: -moz-center;
  _text-align: center;
  padding-top:3px;
  _padding-top: 1px;
  border-collapse: collapse;
  height: 25px;
}

.Button_RightAlign_ContentCell {
  border: 0px none;
  vertical-align: top;
  text-align: -moz-right;
  _text-align: right;
  padding-right: 6px;
  padding-top:3px;
  _padding-top: 1px;
  border-collapse: collapse;
  height: 25px;
}

.NoTitleContentCell {
  vertical-align: middle;
  text-align: -moz-center;
  _text-align: center;
  border-style:none;
  text-indent:3px;
  padding-top:1px;
  padding-bottom:1px;
}

.SmallButton {
  vertical-align: middle;
  text-align: center;
  text-ident: 0px;
}

.BigButton {
  vertical-align: middle;
  text-align: center;
  text-ident: 0px;
}
