/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

.tabToolbarBackGround{
  background: #5D5D5D;
}

.tabTabbarBackGround{
  background: #E8E8E8;
}
/*TabTitle*/

.tabTitle {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 11pt;
  font-weight: bold;
  color: #A0A0A0;
  margin: 0 39px 0 5px;
  position: relative;
  float: right;
  padding-left: 1px;
  padding-right: 1px;
  background: url(titleLeft.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 5;
  height: 18px;
  _width: 14px;
}

.tabTitle_background {
  display: block;
  margin-left: 13px;
  margin-right: 14px;
  background: url(titleFill.png) repeat-x top;
}

.tabTitle_elements_container {
  display: block;
  padding: 5px 60px 0px 10px;
  _padding: 0px 60px 0px 10px;
  margin-right: -14px;
  background: url(titleRight.png) no-repeat right top;
  height: 18px;
  _width: 14px;
}

.tabTitle_elements_text {
}

.tabTitle_elements_separator {
  padding: 0px 0px 0px 10px;
  _padding: 5x 0px 0px 10px;
  position: absolute;
}

.tabTitle_elements_separator_icon {
  background: url(tabTitle.separator.png) no-repeat center center;
  width: 2px;
  height: 19px;
}

.tabTitle_elements_image {
  padding: 0px 0px 0px 20px;
  _padding: 5px 0px 0px 20px;
  position: absolute;
}

.tabTitle_elements_image_normal_icon {
  background: url(icon.tabTitle.normal.gif) no-repeat center center;
  width: 19px;
  height: 19px;
}

.tabTitle_elements_image_processing_icon {
  background: url(icon.tabTitle.processing.gif) no-repeat center center;
  width: 19px;
  height: 19px;
}

/*dojoTabcurrent*/

.dojoTabcurrent {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #000000 !important;
  margin: -4px 0 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.selected.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 5;
  height: 31px;
  _width: 8px;  
}

.dojoTabcurrent div {
  display: block;
  margin-left: 8px;
  margin-right: 10px;
  background: url(roundItemFill.selected.png) repeat-x top;
}

.dojoTabcurrent div span {
  position: relative;
  display: block;
  padding: 5px 10px 0 0px;
  margin-right: -8px;
  background: url(roundItemRight.selected.png) no-repeat right top;
  height: 31px;
  _width:8px;
}

/*dojoTabparent*/

.dojoTabparent {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #333333 !important;
  margin: -4px 0px 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.normal.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 4;
  height: 34px;
  _width:8px;  
}

.dojoTabparent div {
  position: relative;
  z-index: 5;
  display: block;
  margin-left: 8px;
  margin-right: 16px;
  background: url(roundItemFill.normal.png) repeat top;
  height: 34px;
}

.dojoTabparent div span {
  position: relative;
  z-index: 4;
  display: block;
  padding: 5px 12px 0px 2px;
  margin-right: -8px;
  background: url(roundItemRight.normal.png) no-repeat right top;
  height: 34px;
  _width: 8px;
}

/*dojoTabcurrent*/

.dojoTabcurrentfirst {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #000000 !important;
  margin: -16px 0 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.selected.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 5;
  height: 31px;
  _width: 8px;  
}

.dojoTabcurrentfirst div {
  display: block;
  margin-left: 8px;
  margin-right: 10px;
  background: url(roundItemFill.selected.png) repeat-x top;
}

.dojoTabcurrentfirst div span {
  position: relative;
  display: block;
  padding: 5px 10px 0 0px;
  margin-right: -8px;
  background: url(roundItemRight.selected.png) no-repeat right top;
  height: 31px;
  _width:8px;
}

/*dojoTabparent*/

.dojoTabparentfirst {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #333333 !important;
  margin: -16px 0px 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.normal.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 4;
  height: 34px;
  _width:8px;  
}

.dojoTabparentfirst div {
  position: relative;
  z-index: 5;
  display: block;
  margin-left: 8px;
  margin-right: 16px;
  background: url(roundItemFill.normal.png) repeat top;
  height: 34px;
}

.dojoTabparentfirst div span {
  position: relative;
  z-index: 4;
  display: block;
  padding: 5px 12px 0px 2px;
  margin-right: -8px;
  background: url(roundItemRight.normal.png) no-repeat right top;
  height: 34px;
  _width: 8px;
}


/*dojoTabcurrent_focus*/

.dojoTabcurrent_focus {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #000000 !important;
  margin: -4px 0 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.selected.focused.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 5;
  height: 31px;
  _width: 8px;  
}

.dojoTabcurrent_focus div {
  display: block;
  margin-left: 8px;
  margin-right: 10px;
  background: url(roundItemFill.selected.focused.png) repeat-x top;
}

.dojoTabcurrent_focus div span {
  position: relative;
  display: block;
  padding: 5px 10px 0 0px;
  margin-right: -8px;
  background: url(roundItemRight.selected.focused.png) no-repeat right top;
  height: 31px;
  _width:8px;
}

/*dojoTabparent_focus*/

.dojoTabparent_focus {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #333333 !important;
  margin: -4px 0px 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.normal.focused.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 4;
  height: 34px;
  _width:8px;  
}

.dojoTabparent_focus div {
  position: relative;
  z-index: 5;
  display: block;
  margin-left: 8px;
  margin-right: 16px;
  background: url(roundItemFill.normal.focused.png) repeat top;
  height: 34px;
}

.dojoTabparent_focus div span {
  position: relative;
  z-index: 4;
  display: block;
  padding: 5px 12px 0px 2px;
  margin-right: -8px;
  background: url(roundItemRight.normal.focused.png) no-repeat right top;
  height: 34px;
  _width: 8px;
}

/*dojoTabcurrent_focus*/

.dojoTabcurrentfirst_focus {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #000000 !important;
  margin: -16px 0 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.selected.focused.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 5;
  height: 31px;
  _width: 8px;  
}

.dojoTabcurrentfirst_focus div {
  display: block;
  margin-left: 8px;
  margin-right: 10px;
  background: url(roundItemFill.selected.focused.png) repeat-x top;
}

.dojoTabcurrentfirst_focus div span {
  position: relative;
  display: block;
  padding: 5px 10px 0 0px;
  margin-right: -8px;
  background: url(roundItemRight.selected.focused.png) no-repeat right top;
  height: 31px;
  _width:8px;
}

/*dojoTabparent_focus*/

.dojoTabparentfirst_focus {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  font-weight: bold; 
  color: #333333 !important;
  margin: -16px 0px 0px 0px;
  position: relative;
  float: left;
  /*padding-left: 1px;
  padding-right: 1px;*/
  background: url(roundItemLeft.normal.focused.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 4;
  height: 34px;
  _width:8px;  
}

.dojoTabparentfirst_focus div {
  position: relative;
  z-index: 5;
  display: block;
  margin-left: 8px;
  margin-right: 16px;
  background: url(roundItemFill.normal.focused.png) repeat top;
  height: 34px;
}

.dojoTabparentfirst_focus div span {
  position: relative;
  z-index: 4;
  display: block;
  padding: 5px 12px 0px 2px;
  margin-right: -8px;
  background: url(roundItemRight.normal.focused.png) no-repeat right top;
  height: 34px;
  _width: 8px;
}

/*dojoTabContainerChild*/
/*
.dojoTabContainerChild {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 9pt;
  color: #ffffff;
  margin: 0px 5px 0px 5px;
  position: relative;
  float: left;
  padding-left: 1px;
  padding-right: 1px;
  background: url(inlayLeft.png) no-repeat left top;
  cursor: default;
  white-space: nowrap;
  z-index: 5;
}

.dojoTabContainerChild span {
  display: block;
  margin-left: 4px;
  margin-right: 14px;
  background: url(inlayFill.png) repeat top;
}

.dojoTabContainerChild span span {
  display: block;
  padding: 2px 21px 0px 10px;
  margin-right: -5px;
  background: url(inlayRight.png) no-repeat right top;
}




.dojoTabContainerFirst {
  position: relative;
  background: url(workingAreaBorderBottomFill.png) repeat-x bottom;
  overflow: hidden;
  z-index: 5;
  white-space: no-wrap;
}
.dojoTabContainerCurrentFirst {
  position : relative;
  background: url(workingAreaBorderBottomFill.png) repeat-x bottom;  
  overflow: hidden;
  z-index: 5;
  white-space: no-wrap;  
}

.dojoTabContainerInternal {
  position: relative;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  overflow: hidden;
  background: url(inlayFill.png);
  z-index: 5;
  white-space: no-wrap;
}
.dojoTabContainerCurrentInternal {
  position : relative;
  border-left : 1px solid #000000;
  border-right : 1px solid #000000;    
  overflow: hidden;
  background: url(inlayFill.png);
  z-index: 5;    
  white-space: no-wrap;
}

.dojoTabContainerChild {
  position : relative;
  overflow: hidden;
  background: url(inlayFill.png);
  white-space: no-wrap;
}

.dojoTabPaneWrapper {
  position : relative;
  margin-top : 0px;  
  border: 1px solid #000000;
  overflow: hidden;
  width: 100%;
  background-color: white;
  z-index: 3;  
}
*/
.dojoTab {
  position : relative;
  margin-bottom : -1px;
  float : left;
  cursor: pointer;
  white-space: nowrap;
}

.dojoTab div {
  display: block;
/*  padding: 2px 6px 4px 3px;*/
  font-size: 8pt;
}

.tabTable{
  position: relative;
  float: left;
  width:100%;
  margin-top: -9px;  
  margin-bottom: 0px;
  padding-left: 0px;
  overflow: hidden;  
}

.tabBackGround {
  background: #E8E8E8;
  border-left: 1px solid Black;
  border-right: 1px solid Black;
  margin-left: 7px;
  overflow-y: hidden;
  height: 17px;
}

.tabBackGroundInit {
  background: url(TabPane_top_bg.png) repeat-x;
}

.tabPaneBackground{
  position: relative;
  background: url(inlayFill.png) repeat-x;
  margin-left: 0px;
  padding-left: 2px;
  overflow-y: hidden;
  height: 17px;
  width: 100%;
}

.tabSeparator {
  position: relative;
  float: left;
  margin-left: 0px;  
  padding-right: 0px;
  padding-left : 0px;    
  background: url(inlaySeparator.png) no-repeat;
  overflow: hidden;
  height: 15px;  
  width: 2px;    
  z-index: 10;
}

.tabLeft {
  position: relative;
  float: right;
  margin-right: -5px;
  margin-left: 15px;
  background: url(inlayLeft.png) no-repeat !important;

  width: 5px;
  height:17px;  
  vertical-align: top;
}

.tabRight {
  position: relative;
  float: left;
  margin-left: -5px;
  margin-right:15px;  
  background: url(inlayRight.png) no-repeat !important;
  width: 5px;
  height:17px;
  vertical-align: top;  
}

.marginLeft{
  position: relative;
  float: left;  
/*  margin-left:49px;*/
  padding-left: 21px;
  width:100%;
}

.marginLeft1{
  position: relative;
  float: left;  
/*  margin-left:49px;*/
  padding-left: 8px;
  width:100%;
}
/*
.dojoTab.current {
  position : relative;
  z-index: 5;  
  padding-bottom : -1px;  
  background-position : 0 -150px;
}

.dojoTab.current div {
  position : relative;
   padding-bottom : 5px;
  z-index: 5;  
  margin-bottom : -1px;
  border-bottom: 1px solid #D4D8E6;
  background-position : 100% -150px;
}



.dojoTabLabels-bottom {
  width : 100%;
}

.dojoTabNoLayout.dojoTabLabels-bottom {
  position : relative;
}

.dojoTabLabels-bottom .dojoTab {
  border-bottom : 0;
}

.dojoTabLabels-bottom .dojoTab div {
}

.dojoTabLabels-bottom .dojoTab.current {
  border-top : 0;
  background : url(tab_top_left_curr.gif) no-repeat left top;
}

.dojoTabLabels-bottom .dojoTab.current div {
  background : url(tab_top_right_curr.gif) no-repeat right top;
}
*/
.dojoTabcurrent A.dojoTabLink, .dojoTabcurrentfirst A.dojoTabLink { 
  color: #000000;
  font-weight: bold;
  text-decoration: none;
  font-size:  8pt;
}

.dojoTabparent A.dojoTabLink {
  color: #FFFFFF;
  font-weight: bold;
  text-decoration: none;
  font-size: 8pt;
}

.marginLeft .dojoTab A.dojoTabLink {
  color: gray;
  font-weight: bold;
  text-decoration: none;
  font-size:  8pt;
}

.marginLeft .dojoTabparentfirst A.dojoTabLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size:  8pt;
}

A.dojoTabLink {
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  color: White;
  text-decoration: none;
  font-size: 8pt;
  z-index:10;
}

A.dojoTabLink_focus {
  padding-right: 5px;
  padding-left: 5px;
  position: relative;
  color: black;
  background: url(singleTab.focused.png) repeat-x top !important;
  border-style: solid;
  border-width: 2px;
  border-color: #4D98CA;
  text-decoration: none;
  font-size: 8pt;
  z-index:10;
}

A.dojoTabLink:hover { 
  text-decoration: underline !important;
  font-size:  8pt;
}

A.dojoTabLink:focus { 
  color: black;
  text-decoration: none;
  font-size: 8pt;
  outline:0;
}

A.Link { 
  color: Black;
  text-decoration: underline;
  font-size:  8pt;  
   } 
A.Linkwhite { 
  color: White;
  text-decoration: underline;
   } 
 A.Link:HOVER { 
  text-decoration: none;
  color: Navy;
  text-decoration: underline;
 }

