/*
 *************************************************************************
 * The contents of this file are subject to the Openbravo  Public  License
 * Version  1.0  (the  "License"),  being   the  Mozilla   Public  License
 * Version 1.1  with a permitted attribution clause; you may not  use this
 * file except in compliance with the License. You  may  obtain  a copy of
 * the License at http://www.openbravo.com/legal/license.html 
 * Software distributed under the License  is  distributed  on  an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or implied. See the
 * License for the specific  language  governing  rights  and  limitations
 * under the License. 
 * The Original Code is Openbravo ERP. 
 * The Initial Developer of the Original Code is Openbravo SL 
 * All portions are Copyright (C) 2007 Openbravo SL 
 * All Rights Reserved. 
 * Contributor(s):  ______________________________________.
 ************************************************************************
*/

@import url(./ExpansibleMenu/ExpansibleMenu.css);


.Main_ToolBar_bg {
  background: url(backgroundCenter.png) repeat-x top center;
  background-color: #505050;
}

.Main_ToolBar_bg_left {
  width: 8px;
  height: 48px;
  background: url(backgroundLeft.png) no-repeat top center;
}

.Main_ToolBar_bg_right {
  width: 8px;
  height: 48px;
  background: url(backgroundRight.png) repeat-x top center;
}



.Main_ToolBar_textlabel_bg_left {
  height: 26px;
  width: 9px;
  background: url(labelLeft.png) no-repeat center right;
}

.Main_ToolBar_textlabel_bg_body {
  background: url(labelBody.png) repeat-x center center;
}

.Main_ToolBar_textlabel_bg_right {
  height: 26px;
  width: 9px;
  background: url(labelRight.png) no-repeat center left;
}

a.Main_ToolBar_text_relatedinfo {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  COLOR: #B4B4B4;
  margin: 0px 5px 0px 5px;
  text-indent: 5px;
  text-decoration: none;
  white-space: nowrap;
}

a.Main_ToolBar_text_relatedinfo:hover {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  COLOR: #C8C8C8;
  margin: 0px 5px 0px 5px;
  text-decoration: underline;
  white-space: nowrap;
}



.Main_ToolBar_text_bookmark {
  font-family: tahoma, arial, helvetica, sans-serif;
  font-size: 8pt;
  font-weight: bold;
  COLOR: #B4B4B4;
}




.Main_ToolBar_Space {
  width: 100%;
}

.Main_ToolBar_Separator_cell {
	width: 26px;
}

.Main_ToolBar_Separator {
  height: 26px;
  width: 16px;
  background: url(separator.png) no-repeat center center;
}




.Main_ToolBar_Bookmark{
  color: navy;
  font-size: 8pt;
  font-weight: bold;
}

.Main_ToolBar TD {
  BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BORDER-BOTTOM-STYLE: none
}


/* Buttons definition for ToolBar */
a.Main_ToolBar_Button {
  display:block;
  margin-left:0px;
  margin-right:0px;
  width:26px;
  height:26px;
  border:0px;
  vertical-align: middle;
  -moz-outline-style: none;
}

a.Main_ToolBar_Button:visited { 
}

a.Main_ToolBar_Button:hover {
  background: url(button.rollover.png) no-repeat center center;
}

a.Main_ToolBar_Button:active {
  background: url(button.pressed.png) no-repeat center center;
  -moz-outline-style: none;
}

/* Buttons definition for ToolBar */
a.Main_ToolBar_Button_Selected {
  display:block;
  margin-left:0px;
  margin-right:0px;
  width:26px;
  height:26px;
  border:0px;
  vertical-align: middle;
  -moz-outline-style: none;
  background: url(button.selected.png) no-repeat center center;
}


/* Disabled buttons definition for ToolBar */
a.Main_ToolBar_Button_disabled {
  display:block;
  margin-left:0px;
  margin-right:0px;
  width:26px;
  height:26px;
  border:0px;
  vertical-align: middle;
  cursor: default;
  -moz-outline-style: none;
}

a.Main_ToolBar_Button_disabled:visited { 
  cursor: default;
}

a.Main_ToolBar_Button_disabled:hover {
  cursor: default;
}

a.Main_ToolBar_Button_disabled:active {
  cursor: default;
  -moz-outline-style: none;
}

/* Selected buttons definition for ToolBar */
a.Main_ToolBar_Button_Selected:visited { 
}

a.Main_ToolBar_Button_Selected:hover {
  background: url(button.selected.rollover.png) no-repeat center center;
}

a.Main_ToolBar_Button_Selected:active {
  background: url(button.pressed.png) no-repeat center center;
  -moz-outline-style: none;
}


/* Icons definition for ToolBar */
.Main_ToolBar_Button_Icon {
  border: 0px none;
  width: 26px;
  height: 26px;
  margin: 0px;
  vertical-align: middle;
}

.Main_ToolBar_Button_Icon_New {
  background: url(iconNew.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Find {
  background: url(iconSearch.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save_Relation {
  background: url(iconSaveAndRelation.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save_New {
  background: url(iconSaveAndNew.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save {
  background: url(iconSave.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save_Next {
  background: url(iconSaveAndNext.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Delete {
  background: url(iconErase.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Undo {
  background: url(iconUndo.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Tree {
  background: url(iconOrganzieMenu.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Attachment {
  background: url(iconAttach.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_AttachedDocuments {
  background: url(iconAttachedDocuments.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Excel {
  background: url(iconExportExcel.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportExcel {
  background: url(iconExportExcel.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportForm {
  background: url(iconExport.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportCsv {
  background: url(iconExport.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportPDF {
  background: url(iconExportPdf.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Print {
  background: url(iconPrint.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Search {
  background: url(iconSearch.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_SearchFiltered {
  background: url(iconSearchFilter.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_First {
  background: url(iconFirst.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Previous {
  background: url(iconPrevious.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Next {
  background: url(iconNext.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Last {
  background: url(iconLast.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_RelatedInfo {
  background: url(iconRelatedInfo.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Audit {
  background: url(iconAudit.png) no-repeat center center;
}



.Main_ToolBar_Button_Icon_New_disabled {
  background: url(iconNew.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Find_disabled {
  background: url(iconSearch.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save_Relation_disabled {
  background: url(iconSaveAndRelation.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save_New_disabled {
  background: url(iconSaveAndNew.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save_disabled {
  background: url(iconSave.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Save_Next_disabled {
  background: url(iconSaveAndNext.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Delete_disabled {
  background: url(iconErase.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Undo_disabled {
  background: url(iconUndo.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Tree_disabled {
  background: url(iconOrganzieMenu.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Attachment_disabled {
  background: url(iconAttach.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_AttachedDocuments_disabled {
  background: url(iconAttachedDocuments.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Excel_disabled {
  background: url(iconExportExcel.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportExcel_disabled {
  background: url(iconExportExcel.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportForm_disabled {
  background: url(iconExport.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportCsv_disabled {
  background: url(iconExport.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_ExportPDF_disabled {
  background: url(iconExportPdf.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Print_disabled {
  background: url(iconPrint.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Search_disabled {
  background: url(iconSearch.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_SearchFiltered_disabled {
  background: url(iconSearchFilter.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_First_disabled {
  background: url(iconFirst.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Previous_disabled {
  background: url(iconPrevious.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Next_disabled {
  background: url(iconNext.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Last_disabled {
  background: url(iconLast.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_RelatedInfo_disabled {
  background: url(iconRelatedInfo.disabled.png) no-repeat center center;
}

.Main_ToolBar_Button_Icon_Audit_disabled {
  background: url(iconAudit.disabled.png) no-repeat center center;
}
